{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}

    <nav class="navbar navbar-light bg-light">
        <a href="{{ path('accueil') }}"><span class="navbar-brand mb-0 h1">Navbar</span></a>
        {% if app.user %}
            <h1>Hello {{ app.user.prenom }}! </h1>
            <a href="{{ path('app_logout') }}">Logout</a>
            <a href="{{ path('taches') }}">Taches</a>
        {% else %}

            <a href="{{ path('app_login') }}" >Login </a>
        {% endif %}


    </nav>





    {% if app.user %}
        <div class="h1taches">
            <h1 >Voir mes <a href="{{ path('taches') }}">tâches</a></h1>
        </div>

    {% endif %}



{% endblock %}
